mat-form-field{
    padding-right: 10px;
}
mat-card-title{
    text-align: center;
}

div {
  fxLayout: "row";
  fxFlexAlign: "stretch";
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
