<div *ngIf="nutzer">
  <div>
    <label>First Name: </label> {{nutzer.name}}
  </div>
  <div>
    <label>Age: </label> {{nutzer.age}}
  </div>
  <div>
    <label>Active: </label> {{nutzer.active}}
  </div>
 
  <span class="button is-small btn-primary" *ngIf='nutzer.active' (click)='updateActive(false)'>Inactive</span>
 
  <span class="button is-small btn-primary" *ngIf='!nutzer.active' (click)='updateActive(true)'>Active</span>
 
  <span class="button is-small btn-danger" (click)='deleteNutzer()'>Delete</span>
 
  <hr />
</div>
