<section fxLayout="column" fxLayoutAlign="center center">
  <h1 mat-dialog-title>Qualifikationsbearbeitung</h1>
  <mat-dialog-content>
    <mat-card>
      <form [formGroup]="qualifikationForm" autocomplete="off" novalidate (ngSubmit)="bearbeiteQualifikaion(qualifikationForm.value)" fxLayout="column wrap"
            fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-card-content>
            <div>
              <mat-form-field>
                <input matInput type="text" placeholder="Kürzel" formControlName="kuerzel" id="kuerzel">
                <mat-hint align="end">Nicht mehr als 5 Zeichen lang.</mat-hint>
                <mat-error *ngIf="hasError('kuerzel', 'required')">Kürzel wird benötigt.</mat-error>
                <mat-error *ngIf="hasError('kuerzel', 'maxlength')">Es wurden mehr als 5 Zeichen eingetragen</mat-error>
              </mat-form-field>

              <mat-form-field>
                <input matInput type="text" placeholder="Bezeichnung" formControlName="bezeichnung" id="bezeichnung">
                <mat-hint align="end">Nicht mehr als 100 Zeichen lang.</mat-hint>
                <mat-error *ngIf="hasError('bezeichnung', 'required')">Bezeichnung wird benötigt.</mat-error>
                <mat-error *ngIf="hasError('bezeichnung', 'maxlength')">Es wurden mehr als 100 Zeichen eingetragen</mat-error>
              </mat-form-field>

            </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" [disabled]="!qualifikationForm.valid">Speichern</button>
          <button type="button" mat-raised-button color="warn" (click)="onCancel()">Abbruch</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </mat-dialog-content>
  <mat-dialog-actions>
  </mat-dialog-actions>
</section>
