<!-- Footer -->
<footer>
  <mat-toolbar color="primary">
    <div fxFlex fxLayout fxLayoutAlign="left" fxHide.xs>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
            <li>
                <a routerLink="/home">Physio Inc.</a>
            </li>
            <li>
                <a routerLink="/home">About Us</a>
            </li>
            <li>
                <a routerLink="/home">Lizenzen</a>
            </li>
        </ul>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
            &copy;
            Hopanabi
    </div>
  </mat-toolbar>
</footer>
<!-- Footer -->
